<!DOCTYPE html>
<html lang="en">
<head>
    <title>HTMX Based FastAPI Pong</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="{{ url_for("static", path="favicon.svg") }}">
    <style>
        html, body {
            overflow: hidden;
            padding: 0;
            margin: 0;
        }

        body {
            background: url("{{ url_for("static", path="bg.svg")}}") #333;
        }

        .bat {
            position: absolute;
            background-color: #eee;
            width: 1%;
            transition: all linear 200ms;
            border: 1em solid #333;
            z-index: 100;
        }

        #bat_left {
            left: 0;
            height: {{ left.len }}%;
            border-right: none;
        }

        #bat_right {
            right: 0;
            height: {{ right.len }}%;
            border-left: none;
        }

        .ball {
            position: absolute;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            background-color: white;
            transition: all linear 105ms;
            z-index: 101;
        }

        .scoreboard {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            color: #eee;
            font-family: 'Courier New', Courier, monospace;
        }

        .howto > ul {
            list-style: none;
            padding-inline-start: 0;
        }
        
        .solid-bg {
            background: #333;
        }
    </style>
    <script src={{ url_for("static", path="htmx.min.js") }}></script>
    <script src="{{ url_for("static", path="sse.js") }}"></script>
</head>
<body>
    <div
        hx-vals='js:{last_key: event && event.key}'
        hx-trigger="
            keyup[key=='p'] from:body,
            keydown[key=='{{ right.up_key }}'] from:body,
            keydown[key=='{{ right.down_key }}'] from:body,
            keydown[key=='{{ left.up_key }}'] from:body,
            keydown[key=='{{ left.down_key}}'] from:body,
        "
        hx-post="{{ url_for("keypress") }}"
        hx-swap="none"
    >
    </div>
    <div
        class="game"
        hx-ext="sse"
        sse-connect="{{ url_for("get_game_sse") }}"
    >
        <div
            class="scoreboard"
            id="scoreboard"
            sse-swap="scoreboard"
        >
            {% include 'score.jinja2' %}
        </div>

        <div sse-swap="bat_left">
            {% with player="left", pos=left.pos %}
                {% include 'bat.jinja2' %}
            {% endwith %}
        </div>
        <div sse-swap="bat_right">
            {% with player="right", pos=right.pos %}
                {% include 'bat.jinja2' %}
            {% endwith %}
        </div>

        <div sse-swap="ball">
            {% include 'ball.jinja2' %}
        </div>
    </div>
</body>
</html>
