<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hyperpong</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="{{ url_for("static", path="favicon.svg") }}">
    <style>
        html, body {
            overflow: hidden;
            padding: 0;
            margin: 0;
        }

        body {
            background: url("{{ url_for("static", path="bg.svg")}}") #333;
            font-family: 'Courier New', Courier, monospace;
        }

        .bat, .ball {
            position: fixed;
            width: 1vw;
            background-color: white;
            box-shadow: 0 0 1vw black;
            z-index: 100;
            transition: all linear 100ms;
        }

        #bat_left {
            left: 0;
            height: {{ left.len }}vh;
        }

        #bat_right {
            right: 0;
            height: {{ right.len }}vh;
        }

        .ball {
            height: 1vw;
            border-radius: 50%;
        }

        .scoreboard {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            color: #eee;
            user-select: none;
            height: 100vh;
            width: 100vw;
        }

        .scoreboard > h3 {
            margin-top: 0;
        }

        .fade-in {
            animation-name: fadeIn;
            animation-timing-function: linear;
            animation-duration: 0.5s;
        }

        @keyframes fadeIn {
            0% {
                transform: scale(1, 0);
                color: #333;
            }
            20% {
                transform: scale(1, 1);
                color: #333;
            }
            100% {
                transform: none;
                color: #eee;
            }
        }

        .game-paused {
            background-color: #333e;
            color: #eee;
            padding: 0 1vw 0 1vw;
            border-top: dashed 1px #eee;
            border-bottom: dashed 1px #eee;
            margin: auto;
            width: fit-content;
            z-index: 101;
            position: relative;
        }

        .howto > ul {
            list-style: none;
            padding-inline-start: 0;
        }
        
        .solid-bg {
            background: #333;
        }
    </style>
</head>
<body>
    <div
        hx-vals='js:{last_key: event && event.key}'
        hx-trigger="
            keyup[key=='p'] from:body,
            keydown[key=='{{ right.up_key }}'] from:body,
            keydown[key=='{{ right.down_key }}'] from:body,
            keydown[key=='{{ left.up_key }}'] from:body,
            keydown[key=='{{ left.down_key}}'] from:body,
        "
        hx-post="{{ url_for("keypress") }}"
        hx-swap="none"
    >
    </div>
    <div
        hx-vals='js:{x: event && (event.pageX / window.innerWidth), y: event && (event.pageY / window.innerHeight)}'
        hx-post="{{ url_for("click") }}"
        hx-trigger="click from:body"
        hx-swap="none"
    >
    </div>
    <div
        class="game"
        hx-ext="sse"
        sse-connect="{{ url_for("get_game_sse") }}"
    >
        <div
            class="scoreboard"
            id="scoreboard"
            sse-swap="scoreboard"
        >
        </div>

        <div sse-swap="bat_left">
            {% with player="left", pos=left.pos %}
                {% include 'bat.jinja2' %}
            {% endwith %}
        </div>
        <div sse-swap="bat_right">
            {% with player="right", pos=right.pos %}
                {% include 'bat.jinja2' %}
            {% endwith %}
        </div>

        <div sse-swap="ball">
            {% include 'ball.jinja2' %}
        </div>
    </div>
    {% include 'forkme.jinja2' %}
    <script src={{ url_for("static", path="htmx.min.js") }}></script>
    <script src="{{ url_for("static", path="sse.js") }}"></script>
</body>
</html>
