<h3 class="solid-bg">Score: {{ right.score + left.score }} Players: {{ session.count }}</h3>
<h1>
    {% if ball.velocity.0 < 0 %}
        {% if ball.velocity.1 < 0 %}
            ↖
        {% else %}
            ↙
        {% endif %}
    {% else %}
        {% if ball.velocity.1 < 0 %}
            ↗
        {% else %}
            ↘
        {% endif %}
    {% endif %}
</h1>
{% if not running.is_set() %}
<div class="fade-in game-paused">
    <h1>Game paused</h1>
    <div class="howto">
        <h3>How to play:</h3>
        <p>
            <ul>
                <li>P: (Un)pause game</li>
                <li>{{ left.up_key.upper() }}: Move left bat up</li>
                <li>{{ left.down_key.upper() }}: Move left bat down</li>
                <li>{{ right.up_key.upper() }}: Move right bat up</li>
                <li>{{ right.down_key.upper() }}: Move right bat down</li>
            </ul>
        </p>
    </div>
</div>
{% endif %}
